<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" required>
        </div>
        
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>

        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
        </div>

        <div class="form-control">
            <label for="confirmpassword">Confirme sua senha:</label>
            <input type="password" name="confirmpassword" required>
        </div>

        <div class="form-control">
            <label for="cep">CEP:</label>
            <input type="text" name="cep" id="cep" maxlength="9" placeholder="13483-000" autofocus>
        </div>

        <div class="form-control">
            <label for="uf">UF:</label>
            <input type="text" name="uf" id="uf" autofocus>
        </div>

        <div class="form-control">
            <label for="cidade">Cidade:</label>
            <input type="text" name="cidade" id="cidade" autofocus>
        </div>

        <div class="form-control">
            <label for="bairro">Bairro:</label>
            <input type="text" name="bairro" id="bairro" autofocus>
        </div>

        <div class="form-control">
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco" autofocus>
        </div>
        
        <input type="submit" value="Cadastrar">
        <p>Já tem conta? <a href="/login">Faça seu login</a></p>

		<script>
			/*
			 * Para efeito de demonstração, o JavaScript foi
			 * incorporado no arquivo HTML.
			 * O ideal é que você faça em um arquivo ".js" separado. Para mais informações
			 * visite o endereço https://developer.yahoo.com/performance/rules.html#external
			 */
			
			// Registra o evento blur do campo "cep", ou seja, a pesquisa será feita
			// quando o usuário sair do campo "cep"
			$("#cep").blur(function(){
				// Remove tudo o que não é número para fazer a pesquisa
				var cep = this.value.replace(/[^0-9]/, "");
				
				// Validação do CEP; caso o CEP não possua 8 números, então cancela
				// a consulta
				if(cep.length != 8){
					return false;
				}
				
				// A url de pesquisa consiste no endereço do webservice + o cep que
				// o usuário informou + o tipo de retorno desejado (entre "json",
				// "jsonp", "xml", "piped" ou "querty")
				var url = "https://viacep.com.br/ws/"+cep+"/json/";
				
				// Faz a pesquisa do CEP, tratando o retorno com try/catch para que
				// caso ocorra algum erro (o cep pode não existir, por exemplo) a
				// usabilidade não seja afetada, assim o usuário pode continuar//
				// preenchendo os campos normalmente
				$.getJSON(url, function(dadosRetorno){
					try{
						// Preenche os campos de acordo com o retorno da pesquisa
						$("#endereco").val(dadosRetorno.logradouro);
						$("#bairro").val(dadosRetorno.bairro);
						$("#cidade").val(dadosRetorno.localidade);
						$("#uf").val(dadosRetorno.uf);
					}catch(ex){}
				});
			});

            
		</script>

    </form>
</div>